<div class="container-fluid" class="main">
    <div class="row" >
      <div class="col-md-7" id="row2">
        <div class="jumbotron"  >
          
          <p class="head"><b>READ <span style="color:#FF7458">YOUR</span> FAVORITE  <span style="color:#FF7458">BOOK</span> FROM <span style="color:#FF7458">HERE</span></b></p>
          <a type="button" routerLink="/auth/signup"  routerLinkActive="active"  class="btn " style=" background:#FF7458;color:white;  width:120px; margin-left:10px; height:40px; border-radius: 20px; box-shadow:0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19); ">SIGN UP</a>
          <a type="button"  routerLink="/auth/login"  routerLinkActive="active" class="btn " style="margin-left:10px; background:white; color:black;  width:120px; height:40px; border-radius: 20px; box-shadow:0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19); color:#FF7458; ">SIGN IN</a>
        </div>
      
      </div>
      <div class="col-md-5" id="row1">
        
      </div>
        </div>
      
  
  <br><br>
  <br><br>
  <br><br>
  <div class="container">
    <br>
    <h3 style="color:#FF7458; ">Books Added Recently</h3>
  
     <br>
     <mat-form-field style="margin:auto">
      <mat-label>Search by language</mat-label>
      <input matInput  placeholder="Search by language ">
    </mat-form-field>
     <br>

</div>

