






<div class="container-fluid" style="background-color: #f1f1f1;">
    <br><br>
  <h3 class="genres"><b>Book <span style="color:#FF7458">By Language</span></b></h3>
    
    <div class="team-area">
      <div class="container">
       
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-6">
            <a routerLink="/tamil"  routerLinkActive="active">
            <div class="column Markup"> 
            <div class="single-team">
              <div class="img-area1">
              
                <div class="social">
                  <p style=" font-weight:bold; color:#FF7458; margin-top:50px; padding:20px;"><b>CLICK TO READ </b></p>
                </div>
              </div>
              <div class="img-text">
                
                <h5>Tamil</h5>
              </div>
            </div>
          </div>
          </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <a routerLink="/english"  routerLinkActive="active">
            <div class="single-team">
              <div class="column Style"> 
              <div class="img-area2">
               
                <div class="social">
                  <p style="font-weight:bold; color:#FF7458; margin-top:50px; padding:20px">CLICK TO READ</p>
                </div>
              </div>
              <div class="img-text">
                <h5>English</h5>
              </div>
            </div>
          </div>
          </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <a routerLink="/malayalam"  routerLinkActive="active">
            <div class="single-team">
              <div class="img-area3">
               
                <div class="social" >
                  <p style="font-weight:bold; color:#FF7458; margin-top:50px; padding:20px">CLICK TO READ</p>
                </div>
              </div>
              <div class="img-text">
                <h5>Malayalam </h5>
              </div>
            </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <a routerLink="/childrens"  routerLinkActive="active">
            <div class="single-team">
              <div class="img-area4">
               
                <div class="social" >
                  <p style="font-weight:bold; color:#FF7458; margin-top:50px; padding:20px">CLICK TO READ</p>
                </div>
              </div>
              <div class="img-text">
                
                <h5>Telugu</h5>
                
              </div>
            </div>
            </a>
          </div>

        </div>
      </div>
      
    <br>
    
    
    
      
    <br><br>
  
  </div>
  </div>
  
  
  

